$primaryColor : #58f8cb;
$margin : 15px;

$cursive : 'Dancing Script', cursive;
$weight : normal;
$plain: 'Playfair Display', serif;


$header: rgb(0, 0, 0);

$lightYellow : #FFF77D;
$darkYellow : #FFBA00;

$lightBlue : #c0e0f0;
$darkBlue : #00c0e0;

$lightPurple : rgb(200, 200, 200);
$darkPurple : rgb(0, 0, 0);

$tempColor1 : rgb(112, 112, 112);
$tempColor2 : black;