* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.allfilms {
    display: inline-block;
    /* justify-content: center; */
    /* flex-direction: row; */
}


.addUrl {
    display: flex;
    justify-content: center;
    text-align: center;
}

.urlInput {
    width: 40rem;
    height: 3rem;
    border-radius: 10px;
    margin: 4px;
    padding: 5px;

}

.addButton {
    width: 5rem;
    height: 3rem;
    margin: 4px;
    padding: 5px;
    border: none;
    background-color: green;
    border-radius: 10px;
    color: white;
}

/* .deleteButton {
    display: flex;
    width: 20%;
    height: 4px;
    justify-content: center;
} */

.film {
    width: 71vw;
    height: 79vh;
    margin: 30px auto;
    /* display: block; */
    /* margin: 180px; */
    /* text-align: center; */
}

@media screen and (max-width: 1750px) {
    .film {
        margin: 160px;
    }
}


@media screen and (max-width: 1500px) {
    .film {
        margin: 140px;
    }
}

@media screen and (max-width: 1250px) {
    .film {
        margin: 120px;
    }
}

@media screen and (max-width: 1000px) {
    .film {
        margin: 100px;
    }
}

@media screen and (max-width: 750px) {
    .film {
        margin: 50px;
    }
}

@media screen and (max-width: 500px) {
    .film {
        margin: 30px;
    }
}



