*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.admin{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}



.email{
    width: 25vw;
    height: 5vh;
    margin: 20px 10px;
    margin-top: 60px;
    border-radius: 8px;

}

.password{
    width: 25vw;
    height: 5vh;
    margin: 20px 10px;
    border-radius: 8px;
    
}

.login {
    width: 8vw;
    height: 4vh;
    margin: 20px 40px;
    border-radius: 8px;
    border: none;
    color: white;
    font-size: 20px;
    background-color: rgb(20, 180, 28);
}

.logout {
    width: 8vw;
    height: 4vh;
    margin: 20px 40px;
    border-radius: 8px;
    border: none;
    color: white;
    font-size: 20px;
    background-color: rgb(223, 30, 30);

}

.login:hover{
    background-color: rgb(27, 124, 40);
    cursor: pointer;
}

.logout:hover{
    background-color: rgb(146, 21, 29);
}

.buttons {
    /* border: none; */
    border-radius: 8px;

}
