@import "../SASS/extends";
@import "../SASS/mixin";
@import "../SASS/variable";

.Alabel {
    @extend %mainLabel;
}

.aboutContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.aboutPage {
    margin: 20px;
    border: 2px solid black;
.mainParagraph {
    text-indent: 2.0em;
    font-family: $plain;
    font-size: 30px;
    float: left;
    max-width: 50vw;
    line-height: 1.6;
    flex-wrap: wrap;
    text-align: justify;
    margin: 50px;
}

.image {
    height: 500px;
    width: 500px;
    margin: 50px 0 50px 50px;
    // justify-content: center;

}

}

@media screen and (max-width: 1300px) {
    .mainParagraph {
        font-size: 25px;
    }
}