@import "../SASS/extends";
@import "../SASS/mixin";
@import "../SASS/variable";

* {
    @extend %all;
}

.mainSelector {
    width: 20vw;
    height: 3.5vh;
    // background-color: grey;
    border-radius: 15px;
    border: none;
    outline: none;
    // font-family: $plain;
    // font-weight: bold;
}

.DropdownGrid {

    .mainDropdownLabel {
        display: flex;
        justify-content: center;
        height: 100px;
        width: 100%;
        outline: none;
        align-items: center;
    }

    .placeholder {
        font-size: 20px;

    }


    .submitBtn {
        @extend %delete;
        grid-column: 3/4;
        justify-content: center;
        align-items: center;
        background-color: rgb(255, 255, 255);
        color: black;
        margin: 30px;
        &:hover {
        // box-shadow: 0 0 20px 0 white;
        cursor: pointer;
        }
    }
}



.question {
    @extend %formLayout;

    .ptagQ {
        margin: auto;
        grid-column: 1/4;
        
        // grid-row: 
    }

    .textarea {
        margin: auto;
        grid-column: 1/4;
        width: 30vw;
        height: 8vw;
        border-radius: 15px;
        outline: none;
        padding: 15px;
    }
    
    .submitBtn {
        margin: auto;
        grid-column: 1/4;

        @extend %delete;
        background-color: rgb(255, 255, 255);
        color: black;
        &:hover {
        box-shadow: 0 0 20px 0 white;
        cursor: pointer;
        }
    }
   
}



.contactInputs {
    @extend %contactInput;
    // border: 2px solid red;
    // display: flex;
    // justify-content: center;

}

.allBefores {
    display: flex;
    justify-content: center;
    // padding: 50px;
    align-items: center;
    // border: 2px solid red;

}

@media screen and (max-width: 500px) {
    .DropdownGrid {
        .placeholder {
            font-size: 15px;
            font-family: $plain;
    }
    .submitBtn {
        width: 70px;
        font-size: 15px;
        padding: 5px;
    }
    }
}