@import "../SASS/extends";
@import "../SASS/mixin";
@import "../SASS/variable";

* {
    @extend %all;
}

.allQuestions {
    @include flexCenter();
    @include questionFormat();
    justify-content: flex-start;
    padding: 30px;
    position: relative;
    font-family: $plain;

    .Qname{
        margin: $margin;
        z-index: 1;
        width: 100%;
        color: black;
        word-wrap: break-word;
    }
    .Qphone{
        z-index: 1;
        color: black;
        width: 100%;
        word-wrap: break-word;
        margin: $margin;
    }
    .Qemail{
        z-index: 1;
        width: 100%;
        color: black;
        word-wrap: break-word;
        margin: $margin;
    }
    .Qquestion{
        margin: $margin;
        color: black;
        z-index: 1;
        word-wrap: break-word;
    }
    .QdeleteBtn{
        margin: $margin;
        @extend %delete;
        color: black;
        box-shadow: 3px 4px black;
        background-color: $tempColor2;
        font-family: $cursive;
        font-size: 30px;
        &:hover {
            cursor: pointer;
            box-shadow: 0 0 20px 0 black;
            color: white;
        }
    }
    .commentIcon {
        @extend %iconPositioning;
    }
    
}

.qLabel {
    @include flexCenter();
    margin: 30px auto;
    font-family: $cursive;
    font-size: 80px;

}

