
.header{
    display: flex;
    justify-content: center;
}

.navbar{
    display: flex;
    justify-content: space-evenly
}

.home{
    font-size: 25px;
    text-decoration: none;
    color: black;
}

.about{
    font-size: 25px;
    text-decoration: none;
    color: black;
}

.films{
    font-size: 25px;
    text-decoration: none;
    color: black;
}

.contact{
    font-size: 25px;
    text-decoration: none;
    color: black;
}